body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.section1 {
  background-color: #1F2937;
}

.header-container,
.container2 {
  margin: 20px 150px 100px 150px;
  display: flex;
  justify-content: space-between;
}

.header {
  font-size: 24px;
  color: #F9FAF8;
  margin: 0;
  padding: 0;
}

.jagaban2,
.header-link {
  font-size: 18px;
  color: #E5E7EB
}

.header-link {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0px;
}

.jagaban {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.container2-a {
  width: 420px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.container2-button {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  background-color: blue;
  border: 0;
  font-size: medium;
  font-weight: 600;
  color: #F9FAF8;
}

.container2-b {
  width: 450px;
  height: 220px;
}

.image1 {
  height: 220px;
  width: 450px; 
}  

.section2 {
  margin: 0;
  padding: 0;
  border: 0;
}


.section2-container1 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.section2-container2 {
  display: flex;
  justify-content: center;
  margin: 50px 300px 100px 340px; 
  padding: 0;
  border: 0;
}

.section2-container2a {
  width: 200px;
  height: 200px;
  margin-right: 35px;
}

.image2 {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}


.section3 {
  background-color: #E5E7EB;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote {
  width: 900px;
  font-size: 36px;
  color:#1f2937cb;
  font-weight: normal;
  font-style: italic;
  padding-left: 25px;
}

.thor {
   margin-left: 550px;
  font-weight: bolder;
}

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.section4-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.section4-jagaban {
  display: flex;
  width: 800px;
  height: 100px;
  border-radius: 8px;
  background-color: #3882F6;
  justify-content: space-between;
  align-items: center;
  color:#F9FAF8;
}

.call {
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 3px;
}

.product {
  color:#f9faf8bd;
}

.section4-containera {
  padding-left: 100px;
}

.section4-containerb {
  padding-right: 100px;
}

.section4-button {
  width: 95px;
  height: 30px;
  border-radius: 12px;
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: bolder;
  border-style: solid;
  border-color: #F9FAF8;
}